.register-container {
  display: flex;
  justify-content: space-between;
  border: 1px solid var(--default-border-color);
  border-radius: 1rem;
  margin: 0 auto;
  max-width: 60%;
  padding: 1rem;
}

.register-column {
  width: 48%;
}

.register-column h2 {
  color: var(--accent);
  margin-bottom: 1rem;
  text-align: center;
}

.register-logo-container {
  margin-bottom: 1rem;
  text-align: center;
}

.register-logo {
  height: auto;
  max-height: 100px;
  max-width: 100%;
  border-radius: 1rem;
  border-color: black;
}

.form-group {
  margin-bottom: 1rem;
}

.form-group label {
  display: block;
  margin-bottom: 0.5rem;
}

.form-group input {
  border: 1px solid var(--default-border-color);
  border-radius: 1rem;
  box-sizing: border-box;
  padding: 0.5rem;
  width: 100%;
}

.register-column p {
  margin-top: 1rem;
  text-align: center;
}

.button-group {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

@media (max-width: 1024px) {
  .register-container {
    flex-direction: column;
    max-width: 90%;
  }

  .register-column {
    width: 100%;
  }

  .register-column:last-child {
    margin-top: 1rem;
  }
}
